 @import url("https://use.typekit.net/eoz2brh.css");

 :root {
    font-family: league-gothic, sans-serif;
    --color: black;
    --accent-color: white;
}

 @media (min-width: 500px) {

    header nav {
        display: flex;
        align-items: center;
    }

    header .logo {
        display: flex;
        align-items: center;

    }

    header nav .top-menu {
        margin-top: 10;
    }  

    main {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-count: 1; 
    }

}

body {
    max-width: 100%;
    margin: auto;
   
}
header {
    background-image:url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    margin: auto;

}

header nav li {
    margin: 0 15px;
}

.banner h1 {
    font-family: league-gothic, sans-serif;
    font-style: italic;
    color: const(--accent-color);
    font-weight: 400;
    font-size: 9rem;
    padding-left: 0.75em;
    padding-bottom: 0;
    margin: auto;
}

nav {
    justify-content: space-between;
    color: black;
}

.logo {
    font-family: league-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    padding-left: 1.5em;
    margin-block-start: 0.5em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header nav .top-menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    padding-right: 5em;
  
}

.top-menu li a {
    font-size: 1.5rem;
    color: const(--main-color);
    text-transform: none;
    text-decoration: none;
    border: 1px solid transparent;   
}

.top-menu li a:hover {
    border-bottom: 1px solid black; 
}

.subtitle {
    color: black;
    font-size: 2rem;
    padding-left: 3.5em;
    
}

.new-episode {
    flex: 1;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: left;
    padding-left: 2.25em;
    margin-block-start: 0.25em;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}

.countdown {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-left: 2em;
    font-size: 2.5rem;


   
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px;
    
}

.time h2 {
    margin: auto;
}


main {
    max-width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.aboutus {
    display: flex;
    flex-direction: column; 
    padding-left: 8em;
    padding-right: 8em;
    text-align: center;
}

.aboutus h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 100;
}

.aboutus p {
    font-size: 1.75rem;
    font-style: normal; 
    font-weight: 100;
    margin-top: 60px;
    margin-bottom: 60px;
}

.team {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

.team h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-weight: 100;
}

.members {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 8em;
    padding-right: 8em;
}

.members h3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 100;
}

.members h4 {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 100;
}

.members p {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: 150;
    color: grey;
    opacity: 70%;
    word-wrap: normal;
}

.member-svidryk {
    flex-direction: column;
    align-content: flex-start;
}

.member-zoryk {
    flex-direction: column;
    align-content: flex-end;
    text-align: center;
}

.members img {
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
    margin: 0 10rem;
    align-items: center;

}

.members .instagram-icon {
    width: 40px;
    height: 40px;
    justify-content: space-between;

}

.episodes {
    background-color: black;
    padding-left: 8em;
    padding-right: 8em;
}

.episodes h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        color:  rgba(255, 251, 0, 0.918);
        font-size: 3rem;
        font-weight: 100;
}

.all-episodes {
    flex-direction: row; 
    flex-wrap: wrap;
    column-count: 2;
    margin-bottom: 60px;
    }

.all-episodes h3 {
    color: white;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    font-size: 2rem;
    font-weight: 100;
}

.all-episodes p {
    color: rgba(255, 251, 0, 0.918);
    font-size: 1.5rem;
    font-weight: 150;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.podcast-icon {
    width: 50px;
    height: 50px;
    padding: 1rem;
}

.episode-one {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.episode-two {
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.episode-three {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.episode-four {
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.episode-five {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.episode-six {
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.episode-seven {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.episode-eight {
    display: flex;
    align-self: flex-end;
    align-items: center;
   
}

.wheretofindus {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    padding-left: 8em;
    padding-right: 8em;
    
}

.wheretofindus h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    font-weight: 100;
}

.wheretofindus img {
    width: 40px;
    height: auto;
    display: inline-block;
    margin: 0 30px 0 0;
    

}

.contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;

    color: white;
}

.contact h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  rgba(255, 251, 0, 0.918);
    font-size: 3rem;
    font-weight: 100;
}

.contact h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
}

.form {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    text-transform: none;
    text-decoration: none;
    border: 1px solid transparent; 
    font-size: 1.25em;
    width: 33%;
    padding: 4rem;
    color: black;
    background-color: rgba(255, 251, 0, 0.918);
    border-radius: 20px;
/*-moz-border-radius: 40px;
-webkit-border-radius: 40px;*/
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border-style: hidden;
    border-radius: 10px;
}


#form-button {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    border-radius: 10px;
   
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
}

footer p {
    color: white;
    font-weight: 100;
}










