 @import url("https://use.typekit.net/eoz2brh.css");

 @media (min-width: 500px) {
    header nav {
        display: flex;
        align-items: center;
        
    }

    header nav .top-menu {
        flex: 1;
        margin-top: 10;
    }  

    main {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }


}
:root {
    font-family: league-gothic, sans-serif;
    --color: black;
    --accent-color: white;
}

body {
    max-width: 100%;
    margin: auto;
   
}

header {
    background-image:url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content: flex-start;
    margin: auto;
   
}

.banner h1 {
    font-family: league-gothic, sans-serif;
    font-style: italic;
    color: var(--accent-color);
    font-weight: 400;
    font-size: 9rem;
    padding-left: 0.75em;
    padding-bottom: 0;
    margin: auto;
}

.logo {
    font-family: league-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    padding-left: 1.5em;
}

.top-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-right: 5em;
    padding-left: 30em;
    margin-top: 1em;
}

.top-menu li a {
    font-size: 1.5rem;
    color: var(--main-color);
    text-transform: none;
    text-decoration: none;
    border: 1px solid transparent;   
}

.top-menu li a:hover {
    border-bottom: 1px solid black; 
}

.subtitle {
    color: black;
    font-size: 2rem;
    padding-left: 3.5em;
    
}

.new-episode {
    flex: 1;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: left;
    padding-left: 2.25em;
   
}

.countdown {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-left: 1.5em;
    font-size: 3rem;

   
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px;
    
}

.time h2 {
    margin: auto;
}


main {
    max-width: 1090px;
   
    padding-left: 8em;
    padding-right: 8em;
    margin: auto;
}

.aboutus {
    min-height: 200px;
    background-position: top;
    display: flex;
    flex-direction: column; 
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
}

.aboutus h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 100;
}

.aboutus p {
    font-size: 1.5rem;
    font-style: normal; 
    font-weight: 100;
}

.team h2 {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 100;
}

.team {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.episodes h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 100;
    
}

.episodes {
    min-height: 200px;
    display: flex;
    flex-direction: column; 
    text-align: center;
    }








